@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

@font-face {
  font-family: 'Muli';
  src: url(Muli.ttf);
}

.muli {
  font-family: 'Muli', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.nav-link {
  color: #19345e;
  display: flex;
}

.nav-link:hover {
  color: #f47522 !important;
  border-bottom: 2px solid rgb(242, 65, 46) !important;
  display: flex;
}

.btn-masok {
  border: 1px solid #f47522 !important;
  background-color: #fff;
}

.btn-masok:hover > a {
  color: #fff !important;
}

.btn-masok:hover {
  color: white !important;
  background-color: #f47522 !important;
  border: 1px solid #f47522 !important;
}

/*  */

/* HERO */

.hero-desc h4 {
  font-size: 2rem;
  color: #19345e;
}

.hero-desc h1 {
  font-size: 4rem;
  color: #19345e;
}

.hero-desc span {
  color: #f47522;
}

.hero-desc p {
  color: #19345e;
}

.oren-button {
  background-color: #f47522;
}

a .teams {
  color: white;
}

.hero-desc a {
  width: 250px !important;
}

/* AKHIR HERO */

.icon-suport {
  color: white;
  background-color: #f47522;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* about */
.judul h1::before {
  color: #f47522;
  content: '-';
  font-size: 30px;
}

.judul h1::after {
  color: #f47522;
  content: '-';
  font-size: 30px;
}

.happy {
  background-image: linear-gradient(rgba(25, 5, 140, 0.3), rgba(26, 5, 140, 0.3)), url(/ASSETS\ FINAL\ PROJECT\ HTML-CSS/a.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw !important;
  padding: 0 !important;
}

.happy h3 {
  width: 596px;
  display: flex;
  text-align: start;
  font-size: 3rem;
}

.happy p {
  width: 776px;
  font-size: 1rem;
}

.about-bebas {
  width: 60%;
  height: 100%;
}
/* akhir about */

/*  blog */

.blog-read a:hover {
  color: #f47522;
}

/*  */

/*  */

.header-meet {
  background-image: url(ASSETS\ FINAL\ PROJECT\ HTML-CSS/ornament_batik.png);
  background-size: 200px;
  background-repeat: no-repeat;
}

.box {
  background-color: green;
  position: relative;
  width: 300px;
  height: 300px;
}

.naik-box {
  margin-top: 50px;
}

.box img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
}

.meet-color {
  width: 300px;
  height: 300px;
  position: absolute;
  border: #f47522 4px solid;
  background-color: none;
  top: 10px;
  right: 10px;
}

.meet-blue {
  width: 300px;
  height: 300px;
  position: absolute;
  border: #19345e 4px solid;
  background-color: none;
  top: 10px;
  right: 10px;
}

/*  */
/* header bout */
.header-bout {
  background-image: url(ASSETS\ FINAL\ PROJECT\ HTML-CSS/ornament_batik.png);
  background-size: 200px;
  background-repeat: no-repeat;
  top: 0;
}

.garis {
  border: 1px dashed #aaaaaa;
}

.header-akhir {
  background-image: url(ASSETS\ FINAL\ PROJECT\ HTML-CSS/ornament_batik.png);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: bottom right !important;
}

@media (max-width: 576px) {
  .hero-img img {
    width: 350px;
    height: 350px;
  }

  .info-lur {
    border: none !important;
    margin-top: 30px;
    border-radius: unset !important;
  }

  .happy p {
    font-size: 20px;
    width: 100%;
  }

  .happy h3 {
    font-size: 2rem;
  }
  .hapus-garis {
    border: none !important;
  }

  /* about img halaman */
  .poto {
    width: 350px;
    text-align: center;
    padding-left: 60px;
  }

  .naik-box {
    width: 200px;
    height: 200px;
  }

  .meet-color {
    width: 200px;
    height: 200px;
  }

  .about-huruf h1 {
    font-size: 30px;
    text-align: center;
    position: absolute;
  }

  .footer-respon {
    justify-content: center !important;
  }
}

@media (max-width: 900px) {
  .hero-img {
    display: flex;
    justify-content: center;
  }

  .info-lur {
    border: none !important;
    margin-top: 30px;
    border-radius: unset !important;
  }

  .hapus-garis {
    border: none !important;
  }

  .happy p {
    font-size: 15px;
    width: 80%;
  }
}
